name: Scan with Docker Scout

on:
  workflow_dispatch:

jobs:
 docker_scout_scan:
   name: Run Docker Scout
   runs-on: ubuntu-latest

   steps:
   - name: Checkout code
     uses: actions/checkout@v4

   - name: Build Docker Image
     env:
      DOCKER_SCOUT_ENABLED: "false"
      DOCKER_CLI_EXPERIMENTAL: "disabled"
     run: docker build -t myapp:latest .
    
   - name: Docker Scout Scan
     uses: docker/scout-action@v1.0.9
     with:
       dockerhub-user: ${{ secrets.REPO_USER }}
       dockerhub-password: ${{ secrets.REPO_PWD }}
       command: quickview,cves
       only-severities: critical,high
       sarif-file: scout-report.sarif

   - name: Upload Artifact
     uses: actions/upload-artifact@v4
     if: always()
     with:
       name: docker-scout-findings
       path: scout-report.sarif