name: Docker Scout Scan

on:
  workflow_dispatch:

jobs:
  docker-scout:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t pygoat:latest .

      # Docker Scout Quickview
      - name: Docker Scout Quickview
        uses: docker/scout-action@v1
        with:
          command: quickview
          image: my-image:latest

      # Docker Scout CVE scan
      - name: Docker Scout CVE Scan
        uses: docker/scout-action@v1
        with:
          command: cves
          image: my-image:latest
          severity: critical,high